<!DOCTYPE html>
<html lang="en">
  
  <style>
      *{
          margin: 0;
          padding: 0;
      }
      .boody{
          border-left:5px solid yellow ;
      }
      
      .header{
          width: 64%;
          display: flex;
      }

      .rightimage{
          background-color: aqua;
          height: 20px;
          width: 34%;
      }

      .gridcontainer{
          display: grid;
          grid-template-columns: 72.3% 27%;
          height: 20px;
          grid-gap: 5px;
      }

      .griditom{
      }

      .signupbox{
          margin: auto;
          width: 60%;
          margin-top: 0px;
          height: 70%;
      }
      .rfrom{
          margin-top: -90px;
          margin-left: 70px;
      }

       input[type=checkbox] {
            vertical-align: middle;
            position: relative;
            bottom: 1px;
            margin-left: -325px;
        }
    </style>


<head>
    {{>header}}
    <title>Document</title>
</head>

<body class="boody">

    <div class="gridcontainer">
        <div class="griditom">
            <div class="header">
    <img src="https://user-images.githubusercontent.com/91533131/150480893-2ee817f4-98b3-4baf-8941-ad1f5522278e.png"/>
</div>

<div class="signupbox">

    <h4 style="margin-left: -20px">Welcome to Mailchimp</h4>
    <p style="margin-left: -20px">Create an account or log in</p>

        <div class="register">
            
            
</div>
    

</div>
        </div>

        <div class="griditom">
            <img src="https://user-images.githubusercontent.com/91533131/150479178-5f610118-94b6-4e4c-918c-1b01a41d5daf.png" />
        </div>

    </div>

{{!-- ------------------------------------------------------------------------------------------------------- --}}

<div class="rfrom">
    <div class="register">
                        <form action="/register" method="POST">
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name *" value=""
                                            name="firstname" />
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" value=""
                                            name="email" />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="phone"
                                            class="form-control" placeholder="Your Phone *" value="" />
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" value=""
                                            name="password" />
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name *" value=""
                                            name="lastname" />
                                    </div>

                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="male" checked>
                                                <span> Male </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="female">
                                                <span>Female </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Age *" value=""
                                            name="age" />
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *"
                                            value="" name="confirmpassword" />
                                    </div>
                                     <form>
        <label>
            <input type="checkbox"> 
           I don't want to receive promotional Emails from Mailchimp. 
        </label>
        <p style="margin-left: -320px;">By creating an account, you agree to our Terms and have read and acknowledge the Global Privacy Statement.</p>
            </form>
        <input type="submit" class="btnRegister" value="Sign Up" />
    </form>
    </div>
    </div>
    <div style="margin-left: -100px;">
        ©2001–2022 All Rights Reserved. Mailchimp® is a registered trademark of The Rocket Science Group, LLC. Cookie Preferences, Privacy, and Terms.
    </div>
                    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>